
.inpOpcion{
    vertical-align: middle; 
    margin-top: -3px; 
}

.h2Titulo{
    text-align:center; 
    background-color: white; 
    opacity: 0.7;
}

.modalTitulo{
    text-align:center; 
    background-color: white; 
    opacity: 0.7;
}